@model Customers

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update Customer</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Customers</li>
                </ol>
            </div>
        </div>
        <hr />
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <form method="post" asp-action="EditCustomer" asp-controller="Customers">
            <div class="row my-2">
                <input asp-for="CustomerID" hidden />
                <div class="col-md-6 form-group">
                    <label class="form-label">Name <span class="text-danger fw-bold" asp-validation-for="Name"></span></label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label">CNIC <span class="text-danger fw-bold" asp-validation-for="CNIC"></span></label>
                    <input class="form-control" asp-for="CNIC" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label">Car <span class="text-danger fw-bold" asp-validation-for="CarID"></span></label>
                    <select class="form-control" asp-for="CarID" asp-items="ViewBag.Cars">
                        <option value="">-- Select Car --</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label" hidden>Customer Status <span class="text-danger fw-bold" asp-validation-for="CustomerStatus"></span></label>
                    <input class="form-control" asp-for="CustomerStatus" value="1" hidden />
                </div>
                <div class="col-md-12 my-2">
                    <button type="submit" class="btn btn-primary">Update Customer</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->