@model TransferCars

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Transfer Cars</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Transfer Cars</li>
                </ol>
            </div>
        </div>
        <hr />
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <form method="post" asp-action="Transfer" asp-controller="TransferCars">
            <div class="row my-2">

                <div class="col-md-6 form-group">
                    <label class="form-label">From Customer <span class="text-danger fw-bold" asp-validation-for="FromCustomerID"></span></label>
                    <select class="form-control" asp-for="FromCustomerID" asp-items="ViewBag.Customers">
                        <option value="">-- Select Customer --</option>
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Car Number <span class="text-danger fw-bold"></span></label>
                    <input class="form-control" id="CarNumber" readonly />
                    <input type="hidden" id="CarID" name="CarID" asp-for="CarID" />
                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">To Customer <span class="text-danger fw-bold" asp-validation-for="ToCustomerID"></span></label>
                    <select class="form-control" asp-for="ToCustomerID" asp-items="ViewBag.Customers">
                        <option value="">-- Select Customer --</option>
                    </select>

                </div>

                <div class="col-md-6 form-group">
                    <label class="form-label">Date <span class="text-danger fw-bold" asp-validation-for="TransferDate"></span></label>
                    <input class="form-control" asp-for="TransferDate" />
                </div>

                <div class="col-md-12 my-2">
                    <button type="submit" class="btn btn-primary">Transfer Car</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FromCustomerID').change(function () {
                var customerId = $(this).val();
                if (customerId) {
                    $.ajax({
                        url: '/TransferCars/GetCarByCustomer?customerId=' + customerId,
                        type: 'GET',
                        success: function (data) {
                            $('#CarNumber').val(data.carNumber);
                            $('#CarID').val(data.carID);
                        }
                    });
                } else {
                    $('#CarNumber').val('');
                    $('#CarID').val('');
                }
            });
        });
    </script>
}
